* {
    box-sizing: border-box;
}

body {
    background-color:lightcyan;
}

header {
    background-color: white;
    height: 100px;
    width: 100%;
    padding: 0px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
    text-align: center;
    font-size: 80px;
}



.survey {
    font-family: cursive;
    color: darkblue;
    text-align: center;
    margin-top: 150px;
    padding: 0px;
    border: 3px solid darkblue;

}

img {
    border: 10px solid darkblue;
    margin-left: 200px;
    margin-top: 250px;
    height: 300px;
    width: 300px;
    padding: 0px;
}

.results {
   
    margin-left: 0;
    padding: 0px;
    height: 1000px;
    width: 300px;
    float: left;
    border: 10px solid darkblue;
    background-color: lightblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif 
    
}

.footer {
    background-color: lightblue;
    height: 75px;
    width: 100%;
    margin-bottom: 0px;
    padding: 0px;
}



hr {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    content: "BUS MALL MARKETING";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    color: blue;
    padding: 0 0.25em;
    background: white;
}
/* got hr style off of css-tricks.com
glyph by Harry Roberts */